.todo-form-container {
  .todo-form {
    display: flex;
    justify-content: center;
    input {
      border: none;
      border-bottom: green solid 2px;
      padding: 10px;
      margin: 5px;
      outline-color: yellow;
    }

    button {
      outline: none;
      border: blueviolet solid 1px;
      background: blueviolet;
      margin: 10px;
      color: white;
      cursor: pointer;
    }
  }
}
